{# feature-card Macro #}
{% macro feature_card(material_icons, title, description, open_section, button_icon = 'arrow_forward') %}
   
    <div class="feature-card">
        <div class="feature-icon">
            <span class="material-icons" style="font-size: inherit;">{{ material_icons }}</span>
        </div>
        <div class="feature-title">{{ title }}</div>
        <div class="feature-description">
            {{ description }}
        </div>
        <button class="cta-button" onclick="openSection('{{ open_section }}')">
            Starten
            <span class="material-icons">{{ button_icon }}</span>
        </button>
    </div>
{% endmacro %}